<div class="card p-4">
  <div class="card-header">Remove Wallet</div>
  <div class="card-body" style="min-height:200px;">
    <div class="alert alert-info" role="alert">
      This removes the current wallet from your system. Please make sure you have your secret words and passphrase stored safely before executing. This action is irreversible.
    </div>
    <div>
      <button type="button" class="btn btn-primary btn-block" (click)="removeWallet()">Remove wallet</button>
    </div>
  </div>
</div>
