<div>

  <div class="modal-header">
    <h5 class="modal-title">Add Token</h5>
    <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close"
      (click)="closeClicked()">
      <i class="lnr lnr-cross-circle"></i>
    </button>
  </div>
  <form [formGroup]="addTokenForm" (ngSubmit)="onSubmit()" [hidden]="loading">
    <div class="modal-body">
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
        title="Select token to add or add a custom token">
        <label for="token">Token</label>
        <select class="form-control" formControlName="token" id="token"
          [class.is-invalid]="token.invalid && (token.dirty || token.touched)">
          <option *ngFor="let t of tokens" [ngValue]="t.address" [disabled]="!t.address">{{t.ticker}} - {{ t.address ? ' (' + t.address + ') ' : '' }}({{ t.name }})
          </option>
        </select>
        <div *ngIf="token.errors" class="invalid-feedback">
          <p>Token is required</p>
        </div>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="Token contract address"
        *ngIf="customTokenSelected">
        <label for="address">Token Contract Address</label>
        <input formControlName="address" id="address" type="text" class="form-control" placeholder=""
          [class.is-invalid]="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors" class="invalid-feedback">
          <p *ngIf="address.errors['required']">Contract address is required</p>
        </div>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="Token symbol/ticker"
        *ngIf="customTokenSelected">
        <label for="ticker">Token Symbol</label>
        <input formControlName="ticker" id="ticker" type="text" class="form-control" placeholder=""
          [class.is-invalid]="ticker.invalid && (ticker.dirty || ticker.touched)" maxlength="5">
        <div *ngIf="ticker.errors" class="invalid-feedback">
          <p *ngIf="ticker.errors['required']">Token symbol is required</p>
        </div>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="Token name"
        *ngIf="customTokenSelected">
        <label for="name">Token Name</label>
        <input formControlName="name" id="name" type="text" class="form-control" placeholder=""
          [class.is-invalid]="name.invalid && (name.dirty || name.touched)" maxlength="50">
        <div *ngIf="name.errors" class="invalid-feedback">
          <p *ngIf="name.errors['required']">Token name is required</p>
        </div>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="Token name"
        *ngIf="customTokenSelected">
        <label for="name">Token Decimals</label>
        <input formControlName="decimals" id="decimals" type="number" class="form-control" placeholder="" step="1"
          [class.is-invalid]="decimals.invalid && (decimals.dirty || decimals.touched)" maxlength="2">
        <div *ngIf="decimals.errors" class="invalid-feedback">
          <p *ngIf="decimals.errors.required">Number of decimals is required</p>
          <p *ngIf="decimals.errors.min">Number of decimals must be 0 or more</p>
          <p *ngIf="decimals.errors.max">Number of decimals must be 8 or less</p>
          <p *ngIf="decimals.errors.pattern">Decimal places must be an integer</p>
        </div>
      </div>
      <div *ngIf="apiError" class="text-danger">{{ apiError }}</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" (click)="closeClicked()">Cancel</button>
      <button type="submit" data-toggle="modal" data-target="#" class="btn btn-stratis-green btn-block"
        data-dismiss="modal" [disabled]="!addTokenForm.valid || addTokenForm.pristine" ngbAutofocus>Add Token</button>
    </div>
  </form>
  <div [hidden]="!loading" class="Loading col-2 mx-auto unset-left">
    <app-svg-loader></app-svg-loader>
  </div>
</div>
