<div class="modal-header">
  <h5 class="modal-title">Add Token</h5>
  <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close"
    (click)="closeClicked()">
    <i class="lnr lnr-cross-circle"></i>
  </button>
</div>

<form [formGroup]="addTokenForm" (ngSubmit)="onSubmit()" [hidden]="loading">

  <div class="modal-body">

    <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="Token contract address">

      <label for="address">Token Contract Address</label>
      <input formControlName="address" id="address" type="text" class="form-control" placeholder=""
        [class.is-invalid]="address.invalid && (address.dirty || address.touched)">
      <div *ngIf="address.errors" class="invalid-feedback">
        <p *ngIf="address.errors['required']">Contract address is required</p>
      </div>
    </div>

    <div class="form-group clearfix ">
      <input type="checkbox" class="form control form-control-success text-left" formControlName="interFluxEnabled"
        id="interFluxEnabled">
      <span>
        InterFlux Enabled (token can be sent via the InterFlux Bridge)</span>
    </div>

    <div class="validate-token" *ngIf="validatedToken">
      <hr>

      <div class="d-flex align-items-center justify-content-between mb-2">
        <h5 class="mb-0 d-flex align-items-center">
          <i class="lnr mr-2"
            [ngClass]="{'text-danger lnr-warning': !validatedToken.valid, 'text-success lnr-checkmark-circle': validatedToken.valid}"></i>
          {{!validatedToken.valid ? 'Invalid' : 'Valid'}}
        </h5>

        <button type="button" class="btn btn-sm btn-outline-stratis-green d-flex align-items-center"
          aria-label="Reset Validation" (click)="resetToken()" *ngIf="validatedToken.valid">
          Reset <i class="lnr lnr-cross-circle ml-1"></i>
        </button>
      </div>

      <ng-container *ngIf="validatedToken.valid">
        <p class="mb-0"><strong>Address: </strong> {{validatedToken.address}}</p>
        <p class="mb-0"><strong>Name: </strong> {{validatedToken.name}}</p>
        <p class="mb-0"><strong>Symbol: </strong> {{validatedToken.symbol}}</p>
        <p class="mb-0"><strong>Decimals: </strong> {{validatedToken.decimals}}</p>
        <p class="mb-0"><strong>Type: </strong> {{validatedToken.type}}</p>
        <p class="mb-0"><strong>InterFlux Enabled: </strong> {{validatedToken.interFluxEnabled}}</p>
      </ng-container>
    </div>

    <div *ngIf="apiError" class="text-danger">{{ apiError }}</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" data-dismiss="modal" (click)="closeClicked()">Cancel</button>
    <button type="submit" *ngIf="validatedToken?.valid" data-toggle="modal" data-target="#"
      class="btn btn-stratis-green btn-block" data-dismiss="modal"
      [disabled]="!addTokenForm.valid || addTokenForm.pristine || !validatedToken.valid" ngbAutofocus>Add Token</button>
    <button type="button" class="btn btn-stratis-green btn-block" (click)="validateToken()"
      [disabled]="!addTokenForm.valid" *ngIf="!validatedToken?.valid">Validate Token</button>
  </div>
</form>

<div [hidden]="!loading" class="Loading col-2 mx-auto unset-left">
  <app-svg-loader></app-svg-loader>
</div>