<div>
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close"
      (click)="closeClicked()">
      <i class="lnr lnr-cross-circle"></i>
    </button>
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" [hidden]="loading">
    <div class="modal-body">
      <div class="form-group clearfix">
        <label for="">Sender</label>
        <input class="form-control" [(ngModel)]="selectedSenderAddress" [ngModelOptions]="{standalone: true}"
          [readonly]="true" />
      </div>

      <ng-container *ngIf="mode === modeEnum.Call">
        <div class="clearfix">
          <hr>
          <div class="form-group">
            <div class="d-flex justify-content-between align-items-center">
              <label for="transactionShortcut">Transaction Shortcut <span class="text-light">(optional)</span></label>
              <button type="button" class="btn btn-sm btn-outline-stratis-green d-flex align-items-center" aria-label="Reset Shortcut"
                      (click)="resetCallModeShortcutTransaction()" *ngIf="transactionShortcut?.value">
                Reset <i class="lnr lnr-cross-circle ml-1"></i>
              </button>
            </div>

            <div class="clearfix mb-2">
              <input *ngIf="!transactionShortcut?.value;" class="form-control" name="transactionShortcut" id="transactionShortcut" formControlName="transactionShortcut" type="text" />
              <div *ngIf="shortcutCallback" class="text-light">From: {{shortcutCallback}}</div>
              <div *ngIf="shortcutErrors.length > 0">
                <p class="mb-0 text-danger" *ngFor="let error of shortcutErrors">{{error}}</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </ng-container>

      <div class="float-right">Balance : <sc-balance data-toggle="tooltip" data-placement="top" title=""
        data-original-title="Set maximum amount" class="btn-link no-underline" [balance]="balance"
        [coinUnit]="coinUnit"></sc-balance>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
        title="The amount of {{ coinUnit }} to send with this transaction"
        *ngIf="mode !== modeEnum.IssueToken">
        <label for="amount">Amount</label>
        <input formControlName="amount" id="amount" type="number" step="0.01" class="form-control" placeholder="Amount"
          [class.is-invalid]="amount.invalid && (amount.dirty || amount.touched)" min="0">
        <div *ngIf="amount.errors" class="invalid-feedback">
          <p *ngIf="amount.errors.amountError">The amount you have entered exceeds balance available at the sender
            address</p>
          <p *ngIf="amount.errors.min">The amount cannot be negative</p>
        </div>
      </div>
      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
        title="The fee to send with this transaction ({{ coinUnit }}/bytes)">
        <label for="feeAmount">Fee</label>
        <input formControlName="feeAmount" id="feeAmount" type="number" step="0.01" class="form-control"
          placeholder="Fee" [class.is-invalid]="feeAmount.invalid && (feeAmount.dirty || feeAmount.touched)" min="0">
        <div *ngIf="feeAmount.errors" class="invalid-feedback">
          <p *ngIf="feeAmount.errors.feeError">Fee must be less than your balance</p>
          <p *ngIf="feeAmount.errors.min">The fee cannot be negative</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
          title="The gas price to use with this transaction ({{ coinUnit }}/gas)">
          <label for="gasPrice">Gas price</label>
          <input formControlName="gasPrice" id="gasPrice" type="number" class="form-control" placeholder="Gas Price"
            [class.is-invalid]="gasPrice.invalid && (gasPrice.dirty || gasPrice.touched)" min="0">
          <div *ngIf="gasPrice.errors" class="invalid-feedback">
            <p *ngIf="gasPrice.errors.gasPriceTooLowError">Gas price must be greater than {{ gasPriceMinimum }}</p>
            <p *ngIf="gasPrice.errors.gasPriceTooHighError">Gas price must be less than {{ gasPriceMaximum }}</p>
            <p *ngIf="gasPrice.errors.min">Gas price cannot be negative</p>
          </div>
        </div>
        <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
          title="The gas limit to use with this transaction">
          <label for="gasLimit">Gas limit</label>
          <input formControlName="gasLimit" id="gasLimit" type="number" class="form-control" placeholder="Gas Limit"
            [class.is-invalid]="gasLimit.invalid && (gasLimit.dirty || gasLimit.touched)" min="0">
          <div *ngIf="gasLimit.errors" class="invalid-feedback">
            <p *ngIf="gasLimit.errors.gasCallLimitTooLowError">Gas call limit must be greater than
              {{ gasCallLimitMinimum }}</p>
            <p *ngIf="gasLimit.errors.gasCreateLimitTooLowError">Gas create limit must be greater than
              {{ gasCreateLimitMinimum }}</p>
            <p *ngIf="gasLimit.errors.gasLimitTooHighError">Gas limit must be less than {{ gasLimitMaximum }}</p>
            <p *ngIf="gasLimit.errors.min">Gas limit cannot be negative</p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="mode !== modeEnum.IssueToken; else issueTokenParams">
        <label class="col-12" for="">Parameters</label>
        <div class="col-12">
          <div class="w-100" formArrayName="parameters" *ngFor="let parameter of parameters.controls; let i = index;">
            <div class="d-flex justify-content-between align-items-center mb-2" [formGroupName]="i">
              <select class="mr-3 form-control form-control-sm" formControlName="type" style="max-width: 100px">
                <option *ngFor="let parameterType of parameterTypes" [ngValue]="parameterType.type">
                  {{parameterType.value}}</option>
              </select>

              <input type="text" class="mr-3 form-control form-control-sm" formControlName="value" id="Value"
                  placeholder="value" value="" required>

              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal" data-toggle="tooltip"
                (click)="removeParameterClicked(i)" data-placement="right" title="" data-original-title="Remove">
                <i class="lnr lnr-cross"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #issueTokenParams>
        <div class="row">
          <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
            title="Unique name for your token">
            <label for="tokenName">Token Name</label>
            <input formControlName="tokenName" id="tokenName" type="text" class="form-control" placeholder="Token Name"
              [class.is-invalid]="tokenName.invalid && (tokenName.dirty || tokenName.touched)" maxlength="50">
            <div *ngIf="tokenName.errors" class="invalid-feedback">
              <p *ngIf="tokenName.errors.required">Token name is required</p>
            </div>
          </div>
          <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
            title="Unique ticker/symbol for your token">
            <label for="tokenName">Token Symbol</label>
            <input formControlName="tokenSymbol" id="tokenName" type="text" class="form-control"
              placeholder="Token Symbol"
              [class.is-invalid]="tokenSymbol.invalid && (tokenSymbol.dirty || tokenSymbol.touched)" maxlength="5">
            <div *ngIf="tokenSymbol.errors" class="invalid-feedback">
              <p *ngIf="tokenSymbol.errors.required">Token symbol is required</p>
            </div>
          </div>
          <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right" title="Total coin supply. If decimals is provided, this value will be scaled.">
            <label for="totalSupply">Total Supply</label>
            <input formControlName="totalSupply" id="totalSupply" type="text" class="form-control"
              placeholder="Total Supply"
              [class.is-invalid]="totalSupply.invalid && (totalSupply.dirty || totalSupply.touched)" min="0">
            <div *ngIf="totalSupply.errors" class="invalid-feedback">
              <p *ngIf="totalSupply.errors.required">Total supply is required</p>
              <p *ngIf="totalSupply.errors.min">Total supply cannot be negative or zero</p>
              <p *ngIf="totalSupply.errors.pattern">Total supply must be an integer</p>
            </div>
          </div>
          <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right" title="The number of decimal places your token has after the 0 eg. 0.12345 has 5 decimal places">
            <label for="totalSupply">Decimal Places</label>
            <input formControlName="decimals" id="decimals" type="number" class="form-control"
              placeholder="Decimals"
              [class.is-invalid]="decimals.invalid && (decimals.dirty || decimals.touched)" min="0">
            <div *ngIf="decimals.errors" class="invalid-feedback">
              <p *ngIf="decimals.errors.required">Decimal places is required</p>
              <p *ngIf="decimals.errors.min">Decimal places cannot be negative or zero</p>
              <p *ngIf="decimals.errors.max">Decimal places must be 8 or less</p>
              <p *ngIf="decimals.errors.pattern">Decimal places must be an integer</p>
            </div>
          </div>
        </div>
        <div *ngIf="transactionForm.errors">
          <p *ngIf="transactionForm.errors.maxSupplyTooLargeError" class="text-danger">Total supply * 10^(decimal places) cannot exceed 18,400,000,000,000,000,000</p>
        </div>
      </ng-template>
      <div class="mt-2 mb-4 d-flex justify-content-end" *ngIf="mode !== modeEnum.IssueToken">
        <button type="button" class="btn btn-outline-secondary" (click)="addParameterClicked()"><i
            class="lnr lnr-plus-circle"></i>
          Add a parameter</button>
      </div>

      <div>
        <div *ngIf="mode === modeEnum.Call">
          <div class="form-group clearfix">
            <label for="methodName">Method Name</label>
            <input formControlName="methodName" id="methodName" type="text" class="form-control" id=""
              placeholder="Method" data-toggle="tooltip" data-placement="right" title="The name of the method to invoke"
              [class.is-invalid]="methodName.invalid && (methodName.dirty || methodName.touched)">
          </div>
          <div class="form-group clearfix">
            <label for="contractAddress">Contract Address</label>
            <input type="text" formControlName="contractAddress" id="contractAddress" class="form-control"
              placeholder="Contract Address" data-toggle="tooltip" data-placement="right"
              title="The address of the recipient contract"
              [class.is-invalid]="contractAddress.invalid && (contractAddress.dirty || contractAddress.touched)">
          </div>
        </div>
        <div *ngIf="mode === modeEnum.Create">
          <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
            title="The bytecode of the contract to deploy">
            <label class="float-left" for="contractCode">Byte Code</label>
            <textarea class="form-control form-control-sm" id="contractCode" rows="5" formControlName="contractCode"
              [class.is-invalid]="contractCode.invalid && (contractCode.dirty || contractCode.touched)">{{contractCode}}</textarea>
            <div *ngIf="contractCode.errors" class="invalid-feedback">
              <p *ngIf="contractCode.errors.hasOddNumberOfCharacters">Must have an even number of characters</p>
              <p *ngIf="contractCode.errors.pattern">Must be valid hexadecimal characters</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group clearfix">
        <label for="password">Wallet Password</label>
        <input formControlName="password" id="password" type="password" class="form-control"
          placeholder="Wallet Password" [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
          data-toggle="tooltip" data-placement="right" title="The password for the current wallet">
        <div *ngIf="password.errors" class="invalid-feedback">
          <p *ngIf="password.errors.required">Please enter the password for wallet {{ walletName }}</p>
        </div>
      </div>
      <div *ngIf="apiError" class="text-danger">{{ apiError }}</div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" (click)="closeClicked()">Cancel</button>
      <button type="submit" data-toggle="modal" data-target="#" class="btn btn-stratis-green btn-block"
        data-dismiss="modal" [disabled]="!transactionForm.valid" ngbAutofocus>{{buttonText}}</button>
    </div>
  </form>
  <div [hidden]="!loading" class="Loading col-2 mx-auto unset-left">
    <app-svg-loader></app-svg-loader>
  </div>
</div>
