<section id="GUI" class="container-fluid">
  <div class="row">
    <div class="col-4 left-login-green d-flex align-items-center">
      <img src="./assets/images/cirrus/home-cirrus-logo.svg" width="160px" height="auto">
    </div>
    <!-- /col -->
    <div class="col-8 right-login d-flex align-content-center flex-wrap">
      <form class="col-6 mx-auto d-flex align-content-center flex-wrap">
        <div class="col-12 text-center">
          <h3 class="display-4 mb-4">Welcome</h3>
        </div>
        <form *ngIf="hasWallet" class="form-group col-12" [formGroup]="openWalletForm">
          <select class="custom-select col-12" formControlName="selectWallet">
            <option value="" disabled selected>Choose a wallet</option>
            <option *ngFor="let wallet of wallets" [value]="wallet">{{ wallet }}</option>
          </select>
          <div class="form-group mt-3">
            <input type="password" class="form-control" id="Password" [class.is-invalid]="formErrors.password" [class.is-valid]="!formErrors.password && openWalletForm.get('password').valid" id="Password" formControlName="password" formControlName="password" placeholder="Enter your password." (keyup.enter)="onEnter()">
            <div *ngIf="formErrors.password" class="invalid-feedback">{{ formErrors.password }}</div>
          </div>
        </form>
        <div class="col-12">
          <div *ngIf="hasWallet">
            <button type="submit" class="btn btn-block btn-lg btn-stratis-green" [disabled]="!openWalletForm.valid || isDecrypting" (click)="onDecryptClicked()">Decrypt</button>
          </div>
          <div class="row d-flex justify-content-center mt-3">
              <button [disabled]="isDecrypting" type="button" class="btn btn-block btn-link text-dark" (click)="onCreateClicked()">Create or restore a wallet</button>
          </div>
          <!-- SVG -->
          <div [ngClass]="{'invisible': !isDecrypting}" class="Loading">
            <app-svg-loader></app-svg-loader>
          </div>
          <!-- /SVG -->
        </div>
      </form>
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</section>
