<div class="card p-4">
  <div class="card-header">Add IP address</div>
  <div class="card-body" style="min-height:200px;">
    <div class="alert alert-info" role="alert">
      If you're having issues connecting to the network you can use this form to add node IP addresses manually.
    </div>
    <div>

      <form class="form-group" [formGroup]="addNodeIPForm">
        <div class="form-group mt-3">
          <label for="ipAddress">IP Address</label>
          <input type="text" class="form-control" id="ipAddress" [class.is-invalid]="addNodeIPFormErrors.ipAddress" [class.is-valid]="!addNodeIPFormErrors.ipAddress && addNodeIPForm.get('ipAddress').valid" formControlName="ipAddress" placeholder="Enter the IP address of the node you wish to connect to.">
          <div *ngIf="addNodeIPFormErrors.ipAddress" class="invalid-feedback">{{ addNodeIPFormErrors.ipAddress }}</div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!addNodeIPForm.valid" (click)="AddIPAddress()">Add IP Address</button>
        </div>
      </form>
    </div>
    
    <div *ngIf="ipAddressAdded" class="alert alert-info" role="alert">
      IP address added!
    </div>
  </div>
</div>
