<section id="GUI" class="container-fluid light">
  <div class="row">
    <div class="col-4 left-login-green d-flex align-items-center">
      <img src="./assets/images/cirrus/home-cirrus-logo.svg" width="160px" height="auto">
    </div>
    <!-- /col -->
    <div class="col-8 right-login d-flex align-content-center flex-wrap">
      <form class="col-6 mx-auto d-flex align-content-center flex-wrap" [formGroup]="mnemonicForm">
        <div class="col-12 text-center">
          <h3 class="display-4 mb-4">Confirm words</h3>
        </div>
        <div class="form-group col-12">
          <label for="word1">{{secretWordIndexGenerator.text1}}</label>
          <input type="text" class="form-control" formControlName="word1" id="word1" [class.is-invalid]="formErrors.word1" [class.is-valid]="!formErrors.word1 && mnemonicForm.get('word1').valid">
          <div *ngIf="formErrors.word1" class="invalid-feedback">{{ formErrors.word1 }}</div>
        </div>
        <!-- /form-group -->
        <div class="form-group col-12">
          <label for="word2">{{secretWordIndexGenerator.text2}}</label>
          <input type="text" class="form-control" formControlName="word2" id="word2" [class.is-invalid]="formErrors.word2" [class.is-valid]="!formErrors.word2 && mnemonicForm.get('word2').valid">
          <div *ngIf="formErrors.word2" class="invalid-feedback">{{ formErrors.word2 }}</div>
        </div>
        <!-- /form-group -->
        <div class="form-group col-12">
          <label for="word3">{{secretWordIndexGenerator.text3}}</label>
          <input type="text" class="form-control" formControlName="word3" id="word3" [class.is-invalid]="formErrors.word3" [class.is-valid]="!formErrors.word3 && mnemonicForm.get('word3').valid">
          <div *ngIf="formErrors.word3" class="invalid-feedback">{{ formErrors.word3 }}</div>
        </div>
        <!-- /form-group -->
        <div *ngIf="matchError" class="text-danger">{{ matchError }}</div>
        <div class="modal-footer col-12">
          <button type="button" class="btn btn-link" (click)="onBackClicked()">&#8592; back</button>
          <button *ngIf="!isCreating" type="button" class="btn btn-stratis-green btn-block" [disabled]="!mnemonicForm.valid || isCreating" (click)="onConfirmClicked()">Confirm</button>
          <!-- SVG -->
          <div *ngIf="isCreating" class="Loading col-2 mx-auto unset-left">
            <app-svg-loader></app-svg-loader>
          </div>
          <!-- /SVG -->
        </div>
      </form>
      <!-- /form -->
    </div>
    <!-- /col-8 -->
  </div>
  <!-- /row -->
</section>
<!-- /GUI-->
