<div>

  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close"
      (click)="closeClicked()">
      <i class="lnr lnr-cross-circle"></i>
    </button>
  </div>

  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" [hidden]="loading">

    <div class="modal-body">

      <div class="form-group clearfix">

        <div class="form-group clearfix ">
          <input type="checkbox" class="form control form-control-success text-left"
            [class.is-invalid]="tacAgreed.valid" [class.is-valid]="!tacAgreed && tacAgreed.valid"
            formControlName="tacAgreed" id="tacAgreed">
          <span class="font-weight-bold">
            I understand that a fee of <b><span>{{ interFluxFeeLabel | formatNumber:2 }}</span></b> CRS will be deducted
            from your
            balance to
            fund
            ETH Gas
            Fees.</span>
          <div *ngIf="tacAgreed" class="invalid-feedback">
            {{ tacAgreed.errors }}</div>
        </div>

      </div>

      <div class="form-group clearfix">
        <label for="">Sender</label>
        <input class="form-control" [(ngModel)]="selectedSenderAddress" [ngModelOptions]="{standalone: true}"
          [readonly]="true" />
      </div>

      <div class="float-right">Balance : <sc-balance data-toggle="tooltip" data-placement="top" title=""
          data-original-title="Set maximum amount" [balance]="balance" [coinUnit]="coinUnit"></sc-balance>
      </div>

      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
        title="The fee to send with this transaction ({{ coinUnit }}/bytes)">
        <label for="feeAmount">Fee</label>
        <input formControlName="feeAmount" id="feeAmount" type="number" step="0.01" class="form-control"
          placeholder="Fee" [class.is-invalid]="feeAmount.invalid && (feeAmount.dirty || feeAmount.touched)" min="0">
        <div *ngIf="feeAmount.errors" class="invalid-feedback">
          <p *ngIf="feeAmount.errors['feeError']">Fee must be less than your balance</p>
          <p *ngIf="feeAmount.errors['min']">The fee cannot be negative</p>
        </div>
      </div>

      <div class="float-right">Refreshing in <span><strong>{{ interFluxFeeCountDown}}s</strong></span>
      </div>

      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right" title="InterFlux fee to be added.">
        <label for="interFluxFee">InterFlux Fee</label>
        <input class="form-control" formControlName="interFluxFee" id="interFluxFee" type="number"
          disabled="disabled" />
      </div>

      <div class="row">
        <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
          title="The gas price to use with this transaction ({{ coinUnit }}/gas)">
          <label for="gasPrice">Gas price</label>
          <input formControlName="gasPrice" id="gasPrice" type="number" class="form-control" placeholder="Gas Price"
            [class.is-invalid]="gasPrice.invalid && (gasPrice.dirty || gasPrice.touched)" min="0">
          <div *ngIf="gasPrice.errors" class="invalid-feedback">
            <p *ngIf="gasPrice.errors['gasPriceTooLowError']">Gas price must be greater than {{ gasPriceMinimum }}</p>
            <p *ngIf="gasPrice.errors['gasPriceTooHighError']">Gas price must be less than {{ gasPriceMaximum }}</p>
            <p *ngIf="gasPrice.errors['min']">Gas price cannot be negative</p>
          </div>
        </div>

        <div class="form-group col-6 clearfix" data-toggle="tooltip" data-placement="right"
          title="The gas limit to use with this transaction">
          <label for="gasLimit">Gas limit</label>
          <input formControlName="gasLimit" id="gasLimit" type="number" class="form-control" placeholder="Gas Limit"
            [class.is-invalid]="gasLimit.invalid && (gasLimit.dirty || gasLimit.touched)" min="0">
          <div *ngIf="gasLimit.errors" class="invalid-feedback">
            <p *ngIf="gasLimit.errors['gasCallLimitTooLowError']">Gas call limit must be greater than
              {{ gasCallLimitMinimum }}</p>
            <p *ngIf="gasLimit.errors['gasCreateLimitTooLowError']">Gas create limit must be greater than
              {{ gasCreateLimitMinimum }}</p>
            <p *ngIf="gasLimit.errors['gasLimitTooHighError']">Gas limit must be less than {{ gasLimitMaximum }}</p>
            <p *ngIf="gasLimit.errors['min']">Gas limit cannot be negative</p>
          </div>
        </div>
      </div>

      <div class="form-group clearfix">
        <label for="recipientAddress">ERC20 Address</label>
        <input type="text" formControlName="recipientAddress" id="recipientAddress" class="form-control"
          placeholder="ERC20 Address" data-toggle="tooltip" data-placement="right"
          title="The address to send the tokens to"
          [class.is-invalid]="recipientAddress.invalid && (recipientAddress.dirty || recipientAddress.touched)">
      </div>

      <div class="float-right">Balance:
        <span class="btn-link no-underline">
          <strong data-toggle="tooltip" data-placement="right" [title]="token.balance + ' ' + token.ticker"
            (click)="setTokenAmount(token.balance)">{{ token.balance }}</strong><small> {{ token.ticker }}</small>
        </span>
      </div>

      <div class="form-group clearfix" data-toggle="tooltip" data-placement="right"
        title="The amount of tokens to send">
        <label for="amount">Number of Tokens To Send</label>
        <input formControlName="tokenAmount" id="tokenAmount" type="text" class="form-control" placeholder="Amount"
          [class.is-invalid]="tokenAmount.invalid && (tokenAmount.dirty || tokenAmount.touched)" min="0">
        <div *ngIf="tokenAmount.errors" class="invalid-feedback">
          <p *ngIf="tokenAmount.errors['min']">The number of tokens cannot be negative</p>
          <p *ngIf="tokenAmount.errors['max']">The number of tokens exceeds your balance of {{ token.balance }} {{
            token.ticker }}</p>
          <p *ngIf="tokenAmount.errors['pattern']">The number of decimal places must be {{ token.decimals }} or less</p>
        </div>
      </div>

      <div class="form-group clearfix">
        <label for="contractAddress">Contract Address</label>
        <input type="text" formControlName="contractAddress" id="contractAddress" class="form-control"
          placeholder="Contract Address" data-toggle="tooltip" data-placement="right"
          title="The address of the recipient contract">
      </div>

      <div class="form-group clearfix">
        <label for="password">Wallet Password</label>
        <input formControlName="password" id="password" type="password" class="form-control"
          placeholder="Wallet Password" [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
          data-toggle="tooltip" data-placement="right" title="The password for the current wallet">
        <div *ngIf="password.errors" class="invalid-feedback">
          <p *ngIf="password.errors['required']">Please enter the password for wallet {{ walletName }}</p>
        </div>
      </div>

      <div *ngIf="apiError" class="text-danger">{{ apiError }}</div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" (click)="closeClicked()">Cancel</button>
      <button type="submit" data-toggle="modal" data-target="#" class="btn btn-stratis-green btn-block"
        data-dismiss="modal" [disabled]="!transactionForm.valid" ngbAutofocus>Send Tokens</button>
    </div>

  </form>

  <div [hidden]="!loading" class="Loading col-2 mx-auto unset-left">
    <app-svg-loader></app-svg-loader>
  </div>

</div>